boto3==1.24.84
flask==2.2.5
gunicorn==22.0.0
flask-healthz==0.0.3
python-keycloak==2.15.3
kubernetes==27.2.0
psycopg2-binary==2.9.5
psycogreen==1.0.2
gevent==24.2.1
numpy==1.26.4
pandas==1.5.3
dash==2.15.0
dash-bootstrap-components==1.4.1
aiohttp